body {
    font-family: "Poppns", Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(251, 245, 240);
    /* переход на следующую строку после точки */
    white-space: pre-line;
    /* width: 800px; */
    /* margin: 0 auto; */
}

span {
    font-style: italic;
    color: rgb(179, 17, 233);
    font-size: larger;
}

.grid-container * {

    background-color: rgb(204, 158, 60);
    border: white;
    border-radius: 5px;
    padding: 10px;
    /* position: fixed; */
    
}

.grid-container{

    display: grid;
    margin-top: 20px;
    column-gap: 20px;
    grid-template-columns: repeat(2, 120px);
    
}
